aiobotocore
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
alabaster
altair
annotated-types==0.7.0
anyio
appdirs==1.4.4
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
astropy-iers-data
asttokens
async-lru
asyncssh
atomicwrites==1.4.0
attrs
Automat
autopep8
babel
bcrypt
beautifulsoup4
betterproto==2.0.0b6
binaryornot
black
bleach
blinker
bokeh
botocore
Bottleneck
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
colorcet
comm
constantly
contourpy
cookiecutter
cryptography
cssselect
cycler
cytoolz
dask
dask-expr
datashader
debugpy
decorator
defusedxml
Deprecated
diff-match-patch
dill
distributed
dnspython==2.7.0
docstring-to-markdown
docutils
email_validator==2.2.0
et-xmlfile
executing
fastjsonschema
filelock
flake8
Flask
fonttools
frozenlist
fsspec
gensim
gitdb
GitPython
gmpy2
greenlet
grpclib==0.4.7
h11
h2==4.2.0
h5py
HeapDict
holoviews
hpack==4.1.0
httpcore
httpx
huggingface-hub==0.28.1
hvplot
hyperframe==6.1.0
hyperlink
id==1.5.0
idna
imageio
imagesize
imbalanced-learn
importlib_metadata
in-toto-attestation==0.9.3
incremental
inflection
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jmespath
joblib
json5
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kagglehub==0.3.7
keyring
kiwisolver
lazy_loader
lckr_jupyterlab_variableinspector
lightning-utilities==0.12.0
linkify-it-py
llvmlite
lmdb
locket
lxml==5.3.0
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib==3.10.0
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
mistune
panel
param
parsel
parso
partd
pathspec
patsy
pexpect
pickleshare
pillow
platformdirs==4.3.6
plotly
pluggy
ply
prometheus_client
ptyprocess
pure_eval
py
pyarrow
pycparser
pygments
pylint
pynacl
pyodbc
pyparsing
pytest
pytest-forked
python-dateutil
python-json-logger
python-slugify
pytz
pytz-deprecation-shim
pyyaml
regex
requests
requests-file
resampy
retrying
rich
rsa
scikit-learn
scipy
seaborn
semantic-version
selectors2
setuptools
shap
simplejson
six
sniffio
sortedcontainers
sphinx
sphinxcontrib-websupport
sqlalchemy
stack-data
statsmodels
sympy
tables
tabulate
termcolor
terminado
testpath
tornado
tqdm
traitlets
typing-extensions
tzdata
typing-extensions
urllib3
wandb
wcwidth
webcolors
werkzeug
wrapt
zipp
fastapi
python-multipart